.card-container{
    width: 20rem;
    height: 30%;
    overflow: hidden;
    color: white;
    background-color: #0076FF;
    border: solid;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.image-container img{
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border-radius: 200px;
    border: solid;
    border-color: #0076FF;
}

.image-container {
    width: 100%;
}

.card-title {
    margin-top: 30px;
    margin-bottom: 30px;
}



@media (max-width: 768px) {
.card-container{
    width: 20rem;
    height: 25rem;
    overflow: hidden;
    color: white;
    background-color: #0076FF;
    border: solid;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
}