@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.bigDiv {
    display: flex;
    max-width: 95%;
    align-self: center;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1px;
    border-width: 3px;
    border-color: #fcba03;
    border-style: solid;
    background-color: #4287f5;
}

.header {
    font-size: 50px;
    font-family: 'Abel', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4287f5;
    flex-shrink: 0.15;
    padding: 20px;
}

.aboutImg {
    object-fit: cover;
    min-width: 0%;
    flex-shrink: 2;
    flex-basis: 3000px;
}

.aboutTextDiv {
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.reverse {
    flex-direction: row-reverse;
}