@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.bigDiv {
    display: flex;
    align-self: center;
    overflow: hidden;
    perspective: 1px;
    border-width: .5px;
    border-color: #fcba03;
    border-style: solid;
    background-color: #4287f5;
}

.header {
    font-size: 50px;
    font-family: 'Abel', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    color: #fcba03;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4287f5;
    flex-shrink: 0.15;
    padding: 20px;
    width: 50%;
}

.aboutImg {
    object-fit: cover;
    min-width: 0%;
    flex-shrink: 2;
    flex-basis: 3000px;
}

.aboutTextDiv {
    justify-content: center;
    text-align: center;
    padding: 20px;
    flex-basis: 1800px;
    flex-grow: 0;
}

.reverse {
    flex-direction: row-reverse;
}

.registerBtn {
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: #0076FF;
    color: #fcba03;
    border-color: #fcba03;
}

.mySlide {
    height: 100%;
}

.gold {
    color: #fcba03;
}

.contact {
    max-width: 95%;
    margin-top: 6%;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.boxesDiv {
    background: linear-gradient(to bottom, #4287f5 50%, #fdd885);
}

.miniBoxesDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}